.c-notification {
  background: $ms-grey;
  color: $ms-black;
  //padding: rhythm(20) 0;
  position: relative;
  text-align: center;
  //@include vertical-align();
  width: 100%;

  &__inner {
    margin: 0 auto;
    max-width: 460px;
  }

}

.notification-copy {
  //@include adjust-font-size-to(20px, 4);
  &--small {
    //@include adjust-font-size-to(14px, 3);
  }
}

//Remove GF Spinner
body img.gform_ajax_spinner {
  display: none;
}


.gforms_confirmation_message {
  color: $confirm;
  //@include adjust-font-size-to(20px, 4);
  @include vertical-align();
  width: 460px;
}
