.c-navigation {

   position: relative;
   z-index: 1;
   padding: $spacing--small 0;
   
   @include breakpoint($medium) {
      padding: $spacing--jumbo 0;
  }

   //Item
   &__item {
      color: $inactive-grey;
      $dimensions: 68px;
      display: inline-block;
      border: solid 1px currentColor;
      width: $dimensions;
      height: $dimensions;
      line-height: $dimensions;
      text-align: center;
      border-radius: 100px;
      @include set-font-size(1.3rem, 1.3rem, 1.3rem);
      margin: $spacing--x-tiny $spacing--x-tiny;
      pointer-events: none;
      cursor: default;
      background-color: black;

      span {
         display: inline-block;
         line-height: 1;
      }

   }

}


//Subnavigation
.c-sub-navigation {
   position: relative;
   z-index: 1;
   padding: $spacing--small 0;
   
   @include breakpoint($medium) {
      padding: $spacing--jumbo 0;
  }

   //Item
   &__item {
      color: $inactive-grey;
      $dimensions: 68px;
      display: block;
      border: solid 1px currentColor;
      //width: $dimensions;
      //height: $dimensions;
      line-height: $dimensions;
      text-align: center;
      border-radius: 100px;
      @include set-font-size(1.3rem, 1.3rem, 1.3rem);
      margin: $spacing--x-tiny $spacing--x-tiny;
      pointer-events: none;
      cursor: default;
      background-color: black;

      span {
         display: inline-block;
         line-height: 1;
      }

   }

}



//Active
.active-term {
   color: $white;
   border-color: $pink;
   pointer-events: all;
   cursor: pointer;
}

.focused-term {
   color: $white;
   border-color: $pink;
   pointer-events: all;
   cursor: pointer;
   background-color: $pink;
}


