.c-team-list {

   //Header
   &__header {
      lost-flex-container: row;
      lost-column: 12/12;
   }

   //Column
   &__column {
      
      &:nth-of-type(1) {

         //Desktop
          @include breakpoint($medium) {
             lost-column: 10.5/12;
         }

     }

     &:nth-of-type(2) {

         //Desktop
          @include breakpoint($medium) {
             lost-column: 1.5/12;
         }

     }

   }

   //Title
   &__title {
      color: $pink;
      font-family: $font-primary--bold;
      @include set-font-size(2rem, 3rem, 4rem);
      line-height: 1;
      margin-bottom: $spacing--tiny;
      width: 100%;
   }

   //Subtitle
   &__subtitle {
      color: $black;
      font-family: $font-primary;
      @include set-font-size(1rem, 2rem, 3rem);
      line-height: 1;
      margin-bottom: $spacing--tiny;
   }

}


.c-team-list__person-list {

   lost-flex-container: row;
   lost-column: 12/12;
   padding-top: $spacing--medium;

   //Card
   &__card {
      lost-column: 4/12 3 ;
      position: relative;
      margin-bottom: $spacing--medium;
   }

   //Card
   &__inner-card {
      border: solid 1px $pink;
      border-radius: 10px;
      position: relative;
      margin-left: 41px;
      padding-left: 41px;
   }

   //Thumb
   &__thumb {
      $dimensions: 82px;
      width: $dimensions;
      height: $dimensions;
      border-radius: 100%;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      left: -41px;
   }

   //Title
   &__title {
      color: $black;
      font-family: $font-primary--bold;
      @include set-font-size(1.6rem, 1.6rem, 1.6rem);
      margin-bottom: 0;
      padding: $spacing--small;

      span {
         color: $pink;
         display: block;
         font-family: $font-primary;
      }

   }

}