$welcomeHeight: 100vh;

.c-welcome {

    background-image: url('img/background-welcome.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 $spacing--large;

    @include breakpoint($medium) {
        height: $welcomeHeight;
    }

    &__content-container {
        background-color: $black;
        max-width: 1024px;
        margin: 0 auto;
        text-align: center;
        position: relative;

        // with height
        &--height {
            padding: $spacing--small $spacing--medium;

            @include breakpoint($medium) {
                padding: $spacing--large $spacing--jumbo;
                height: $welcomeHeight;
            }
        }
    }

    &__logo {
        margin-bottom: 4rem;

        svg {
            width: 165px;
            height: auto;
        }
    }

    &__title-container {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    &__title {
        color: $pink;
        font-family: $font-primary--bold;
        @include set-font-size(4rem, 5rem, 6rem);
        line-height: 1;
        margin-bottom: $spacing--large;
        font-weight: 700;
    }

    &__sub-title {
        color: $white;
        @include set-font-size(2rem, 3rem, 3.8rem);
        line-height: 1.2;
    }


    &__map-container {
        $welcomeHeight: 100vh;
        height: $welcomeHeight;
        background-image: url('img/background-map.jpg');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 0 $spacing--large;

        .c-welcome__content-container {
            height: $welcomeHeight;
        }
       
    }

}

.c-welcome__map {
    position: relative;
	top: 50%;
    transform: translateY(-50%);
    
    img {
        display: block;
        width: 100%;
        max-width: 100%;
        height: auto;
    }
}


.down-arrow {
    display: block;
    $dimensions: 45px;
    width: $dimensions;
    height: $dimensions;
    margin: 0 auto;

    @include breakpoint($medium) {
        @include vertical-align(absolute, 50%);
        bottom: $dimensions;
    }

    svg {
        $dimensions: 100%;
        width: $dimensions;
        height: $dimensions;
        transition: all .3s ease;
        animation: bounce 2s infinite;
        fill: $white;
    }

    &:hover {
        svg {
            animation-play-state: paused;
            fill: $pink;
        }
    }
}

.power-logo-container {
    width: 100%;
    position: absolute;
    padding-top: $spacing--medium;
    z-index: 80;
}

.power-logo {
    width: 300px;
    height: 65px;
}

.mediacom-logo-container {
    text-align: center;
    padding: $spacing--large 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.mediacom-logo {
    width: 220px;
    height: 110px;

    @include breakpoint($medium) {
        bottom: 0px;
        position: relative;
    }

}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        @include transform(translateY(0));
      }
        40% {
        @include transform(translateY(-30px));
      }
        60% {
        @include transform(translateY(-15px));
      }
}